body {
  background-color: #d5e1ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
img {
  /* width: 270px; */
  width: 100%;
  display: block;
  /* height: 270px; */
  /* margin: 0px; */
  /* padding: 0; */
  border-radius: 15px;
  /* margin-bottom: 10px; */
}
h3 {
   font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.box {
 background-color: #fff;
  padding: 15px;
  /* padding: 5px; */
  /* padding-top: 15px; */
  /* padding-bottom: 35px; */
  /* margin: 0px; */
  border-radius: 15px;
  max-width: 300px;
  text-align: center;
}
